@icon-width: 2.2em;

@first-level-item-height: 2.2em;
@sub-level-item-height: 1.8em;

@second-level-indent: 1em;
@third-level-indent: 2em;

.metismenu{
    width: 300px;
    > .metismenu-container{
        background: #CCC;
        > .metismenu-item > A{
            line-height: @first-level-item-height;

            .metismenu-iconlevel{
                line-height: @first-level-item-height;
            }
        }
    }
}
.metismenu-container,
.metismenu-item{
    margin: 0;
    padding: 0;
}
.metismenu-container{
    background: #DDD;
    list-style: none;

    .metismenu-container{
        display: none;

        A{
            padding-left:@second-level-indent;
        }

        .metismenu-container A{
            padding-left:@third-level-indent;
        }
    }

    &.visible{
        display: block;
    }
}

.metismenu-item > A{
    color:#555;
    display: block;
    line-height: @sub-level-item-height;
    text-decoration: none;

    &:hover{
        background: #EEE;
        color:#333;
    }
}
.metismenu-icon{
    text-align: center;
    width: @icon-width;
}
SPAN.metismenu-iconlevel{
    float: right;
    line-height: @sub-level-item-height;
    text-align: center;
    width: @icon-width;
}
